:root {
  --background-color: #150022;
  --string-color: #fff;
  --card-color: #fff4;
	--section-color: #281e5c;
	--section-border: #01011b;
	--primary-color: #fe8a3e;
	--secondary-color: #fd3838;
  --gradien-color-text: -webkit-linear-gradient(30deg, var(--primary-color) 0%, var(--secondary-color) 74%);
	--gradient-color-box: linear-gradient(30deg, var(--primary-color) 0%, var(--secondary-color) 74%);
	--bg-color-primary: -webkit-text-fill-color: transparent;
}

span {
  background: var(--gradien-color-text);
	background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	/* font-size: 2.1em; */
	font-size: inherit;
	margin: auto;
}

html{
	scroll-behavior: smooth;
}

.header {
	background-image: url('./public/img/fondo.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
}

.nav {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
	background: transparent;
}

.container-brand__a {
  font-family: "Ubuntu", cursive;
	font-weight: 700;
	font-size: 1.5em;
	/* font-size: 2.1em; */
  text-decoration: none;
  display: flex;
}

.container-brand__a h1:first-child {
  color: var(--string-color);
	line-height: 1rem;
}

.container-brand__a span {
	font-size: 2.1em;
}

.nav__ul {
  flex-grow: 0.5;
	/* flex: 5; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
	display: flex;
	list-style: none;
	border-radius: 50px;
	transition: box-shadow .5s, border-radius .5s, background .5s, transform .5s; 
}

.nav-item:hover {
	background: var(--gradient-color-box);
	box-shadow: 0px 0px 20px 2px var(--secondary-color);
	border-radius: 50px;
	transform: scale(1.2);
}

.nav-item a{
	padding: 10px;
	display: flex;
	position: relative;
	border-radius: 50px;
	/* -webkit-border-radius: 50px;
	-moz-border-radius: 50px; */
	background-image: linear-gradient(transparent, transparent);
}

.nav-item a:after {
	content: '';
	position: absolute;
	border-radius: 50px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-image: var(--gradient-color-box);
	opacity: 0;
	transition: all .2s ease-in-out;
}
.nav-item a:hover::after {
	opacity: 1;
	/* background: var(--gradient-color-box); */
	background: transparent;
	/* box-shadow: 0px 0px 20px 5px var(--secondary-color); */
}

.nav-item a {
  color: var(--string-color);
  text-decoration: none;
  font-family: "Ubuntu", 'sans-serif';
	font-weight: 700;
	height: auto;
	width: 100%;
	padding: 5px 10px;
	transition: background 1s;
}

.header__div-container {
	padding: 10rem 5rem;
	color: var(--string-color);
	font-family: 'Ubuntu', sans-serif;
	font-size: 3rem;
}

.header__form {
	transform: translateY(-4rem);
}


.form-footer {
	padding: 4rem 0rem;
}

.form-footer button {
	padding: 1rem 2rem;
	font-size: 2rem;
	border-radius: 50px;
	border: none;
	outline: none;
	background: var(--gradient-color-box);
	color: var(--gradien-color-text);
	cursor: pointer;
	box-shadow: 0px 0px 40px 0px var(--secondary-color);
}

section {
	/* border: 2px solid red; */
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--section-border);
}

.waves {
	height: 50vh;
	width: 100%;
	background-image: url('./public/img/waves.svg');
	background-repeat: repeat-x;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 2px solid red; */
	position: absolute;
	top: 0;
	filter: blur(5px);
}

.waves-down {
	transform: rotate(180deg) translateY(-100%);
}

.waves-middle {
	width: 100%;
	height: 5vh;
	background: var(--section-color);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

article {
	height: 70vh;
	width: 80%;
	background: var(--card-color);
	position: relative;
	border-radius: 20px;
	padding: 2rem;
	color: var(--string-color);
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	line-height: 1.5em;
	letter-spacing: .05em;
	/* border: thin solid #fff; */
}

.about-title {
	text-align: center;
	line-height: 0;
	font-size: 1.5rem;
	/* border: 2px solid red; */
}

.about-info-cont {
	display: flex;
	gap: 2.5rem;
	margin-top: 2rem;
	max-height: calc(100% - 4.3rem);
	position: relative;
	overflow: auto;
	/* justify-content: space-around; */
}

.about-info-cont-img {
	flex: 1fr;
	max-height: 300px;
	/* max-width: 300px; */
	min-width: 300px;
}

.about-info-cont-img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	object-position: 0px 0px;
}

.about-info-cont-des {
	flex: 1fr;
	text-align: justify;
	margin: auto;
	min-height: 100%;
}

.about-info-cont-des h4{
	margin-bottom: .5rem;
}

.about-info-cont-des p {
	margin: 1rem 0rem;
	padding-right: 1rem;
}

.grid-skills {
	/* border: 2px solid red; */
	padding: 1rem;
	padding-left: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-auto-rows: 150px;
	gap: 1rem;
}

.grid-item{
	padding: 1.5rem;
	/* border: thin solid #aaa; */
	background: #fff5;
	border-radius: 10px;
}

.grid-skills img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}


/* HOVERS */

